/* Enquiry page styles */

.pageSubHead {
    text-align: center;
    font-weight: 500;
    line-height: 1.2;
    color: #5e5e5e;
    font-size: 1.3rem !important;
    margin-top: 1rem !important;
    margin-bottom: 2rem !important;
}

.danger {
    color: red;
}