/* Rainbow css */

.bgDahLime {
    background-color: #a4b818;
}

.bgDahRed {
    background-color: #bf3a3b;
}

.bgDahBlue {
    background-color: #2a91bc;
}

.bgDahYellow {
    background-color: #e7a10b;
border: 1px solid grey;
}

.bgDahAquaLight {
    background-color: #47b0c1;
}

.bgDahAqua {
    background-color: #18b88a;
}

.bgDahPurple {
    background-color: #d029b5;
  }